<!-- this file is where navbar and other things that don't change will be here -->

<!doctype html>
<html lang="en">

<head>
	{% load staticfiles %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title> Home </title>

	<!-- Bootstrap core CSS -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link href="{% static 'open-iconic/font/css/open-iconic-bootstrap.css' %}" rel="stylesheet">


</head>

<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container">
				<a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'icon.png' %}" width="30" height="30">
        ProjectHunt
        </a>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav ml-auto">
						{% if user.is_authenticated %}
						<a class="nav-item nav-link" href="{% url 'create' %}"><span class="oi oi-plus"></span> Create</a>
						<a class="nav-item nav-link" href="javascript:{document.getElementById('logout').submit()}">Logout</a>
						<form id="logout" class="" action="{% url 'logout' %}" method="post">
							{% csrf_token %}
							<input type="hidden" name="" value="">
						</form>
						{% else %}
						<a class="nav-item nav-link" href="{% url 'signup' %}">Sign up</a>
						<a class="nav-item nav-link" href="{% url 'login' %}">Log in</a>
						{% endif %}
					</div>
				</div>
		</nav>
	</header>

<div class="container mt-3">


{% block content %}
<!-- the stuff of x.html will go inside.
add this to the html file :
{% extends 'base.html' %
{% block content %
{% endblock %

Error : because django don't know where to search the templates
-> Go to settings and add that : 'DIRS': ['projecthunt/templates'], -->
{% endblock %}

</div>


<footer class="text-muted">
  <div class="container text-center">
    <p>&copy; Ivan Izquierdo {% now 'Y' %}</p>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

</body>

</html>
